html{
    background-color: black;
}
#square {
    margin-left: 25%;
    margin-top: 50px;
    width: 50%;
}
img{
    width: 100%;
    border: solid white;
    border-width: 5px;
}
h1{
    color: white;
    text-align-last: center;
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
}
p{
    color: gold;
    text-align-last: right;
}
